%h2.center Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .login-page.row
    .col.s12.z-depth-6.card-panel
      .field
        .input-field.col.s12
          %i.material-icons.prefix mail_outline
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: true, id: 'test'

      .field
        .input-field.col.s12
          %i.material-icons.prefix lock_outline
          = f.password_field :password, autocomplete: "new-password", placeholder: "Password", required: true

      .field
        .input-field.col.s12
          %i.material-icons.prefix lock_outline
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", required: true

      .actions
        = f.submit "Sign up", class: "btn waves-effect waves-light col s12"
      = render "devise/shared/links"
