%ul.dropdown-content#dropdown1
  %li
    = link_to 'Profile', edit_user_registration_path
  %li.divider
  %li.sign-out-button
    = button_to "Sign out",
      destroy_user_session_path,
      method: :delete,
      class: 'waves-effect waves-light btn valign-wrapper main-btn'

.fixed-action-btn.hide-on-large-only
  %a.btn-floating.btn-large.red
    %i.large.material-icons menu
  %ul
    %li
      %a.btn-floating.blue{ href: new_post_path }
        %i.material-icons create
    - if user_signed_in?
      %li
        %a.btn-floating.yellow{ href: edit_user_registration_path }
          %i.material-icons person
      %li
        = button_to destroy_user_session_path,
          method: :delete,
          class: 'btn-floating red darken-1' do
          %i.material-icons exit_to_app

%nav.nav.main-bg
  .nav-wrapper.container
    = link_to root_path, class: 'brand-logo' do
      %img{ src: asset_path('logo-header-blank.png', type: :image) }
    %ul.right.hide-on-med-and-down
      %li= link_to "New Post", new_post_path, class: 'main-btn waves-effect waves-light btn'
      %li= link_to "My learned", posts_path
      %li
        - if user_signed_in?
          %li
            %a.dropdown-trigger{ "data-target": "dropdown1" }
              Profile
              %i.material-icons.right arrow_drop_down
        - else
          %li= link_to "Sign In", new_user_session_path
