%h2.center Log In
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .session-form.row
    .col.s12.z-depth-6.card-panel
      .field
        .input-field.col.s12
          %i.material-icons.prefix mail_outline
          = f.email_field :email,
            autofocus: true,
            autocomplete: "email",
            placeholder: "Email",
            required: true

      .field
        .input-field.col.s12
          %i.material-icons.prefix lock_outline
          = f.password_field :password,
            autocomplete: "current-password",
            placeholder: "Password",
            required: true

      - if devise_mapping.rememberable?
        .field
          .input-field.checkbox-input.col.s12
            = f.check_box :remember_me, id: 'remember-me'
            = f.label :remember_me, for: 'remember-me', class: 'dark-text'
      .actions
        = f.submit "Log in", class: "btn waves-effect waves-light col s12"
      = render "devise/shared/links"
