= form_for @post do |f|
  .row.post-form{ data: { controller: "post" } }
    .col.s12.m6
      .row
        %h4 Title
        .input-field
          = f.text_field :title, class: 'post-title', data: { post_target: 'title', action: 'input->post#preview' }
      .row
        %h5 Content
        .input-field
          = f.text_area :content, id: 'text-area', class: 'materialize-textarea', 'data-length': '10', data: { post_target: 'body', action: 'input->post#preview' }
      .actions.row
        = f.submit 'Save', class: "btn waves-effect waves-light w-100"
    .col.s12.m6
      = render 'preview', post: @post
