.row.card-row
  .col.s12.m6
    .card.card-container
      .card-content.white-text
        %span.card-title
          = post.title
        = markdown(post.content)
      .card-action
        - unless post.labels.empty?
          .labels
            - post.labels.each do |label|
              %a.new.badge.badge-main{ href: "#" }= label.name
          .divider.divider-margin
        = link_to user_posts_path(id: post.user.id), class: "user-info valing-wrapper user-email" do
          %i.material-icons account_circle
          %span= post.user.username
        %span
          Created at:
          = post.created_at.strftime("%B %d, %Y")
