.row.card-row
  .col
    .card.card-container
      .card-content.white-text
        .card-header
          = link_to post.title, post_path(post), class: "card-title"
          - unless post.labels.empty?
            .labels
              - post.labels.each do |label|
                %a.new.badge.badge-main{ href: "#" }= label.name
        .divider.divider-margin
        = post.content
      .card-action
        = link_to user_posts_path(id: post.user.id), class: "user-info valing-wrapper user-email" do
          %i.material-icons account_circle
          %span= post.user.username
        %span
          Created at:
          = post.created_at.strftime("%B %d, %Y")
