<!DOCTYPE html>
<html>
  <head>
    <title>Today I Learned</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <%= render partial: 'shared/notifications' %>

    <div class="container" data-controller="materialize">
      <%= yield %>
    </div>

    <% if request.path == '/' || (request.path == '/posts' && params[:action] == 'index') %>
      <%= paginate @posts %>
    <% end %>
    <script src=' https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js'></script>
  </body>
  <% if request.path == '/' %>
    <%= render 'shared/footer' %>
  <% end %>
</html>
